#bgpremier{
    background:url(../fondo.png);
    
}
#bgpremier a{
    color:white;
}
#bgpremier a:hover{
    color:#39e300;
}
*{
    font-family: "Premier";
}
#cuerpo{
    display:  flex;
    flex-direction: row;
}
@font-face{
    font-family: "Premier";
    src: url(../img/Modern\ Machine.ttf);
}
.pos{
    color: white;
}
table{
    
    background-color:#6D23B6;
    color: #47126B;
}
#clasificacion a{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-family: "Premier";
}
body{
    background-color: blue;
    background-size: cover;
}
#puntos{
    color: #2aa900;
}
#cuerpo{    
    
}
.container{
    background: rgba(255, 255, 255, 0.676);
    height: 100%;
}

.visuallyHidden{
    background-color: #6c0b99;
}
#desplegable{
    background-color: #6c0b99;
}
#champions{
    color: darkturquoise;
}
#uefa{
    color: orangered;
}
#descenso{
    color: red;
}
table td{
    color: white;
}
#po{
    background: url(../img/premier\ inicio.png);
    background-size: cover;
}