#bgpremier{
    background:url(../fondo.png);
    
}
#bgpremier a{
    color:white;
  
}

#bgpremier a:hover{
    color:#39e300;
}
#bgpremier li{
    color:blue;
}

*{
    font-family: "Premier";
}
#cuerpo{
    display:  flex;
    flex-direction: row;
}
@font-face{
    font-family: "Premier";
    src: url(../img/Barclays\ Premier\ League.ttf);
}
.pos{
    color: white;
}
table{
    
    background-color:#6D23B6;
    color: #47126B;
}
#clasificacion a{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-family: "Premier";
}
body{
    background-color: blue;
    background-size: cover;
    overflow-x: hidden;
}
#puntos{
    color: #2aa900;
}
#noruega{    
    background: url(../img/noruega.png);
    background-size: cover; 
    border: solid 2px white;
}

#inglaterra{    
    background: url(../img/inglaterra.webp);
    background-size: cover;
}
#españa{    
    background: url(../img/españa.png);
    background-size: cover; 
    border: solid 2px white;
}
#serbia{    
    background: url(../img/serbia.png);
    background-size: cover; 
    border: solid 2px white;
}
#argentina{    
    background: url(../img/argentina.png);
    background-size: cover; 
    border: solid 2px white;
}
#topscore h1,h2,h3{
    color: white;
    background-color: rgba(0, 0, 0, 0.567);
    border: solid 2px white;
}
#carouselId img{
    color: white;
    border: solid 2px white;
    border-radius: 5px;
}
#carouselId2 img{
    color: white;
    border: solid 2px white;
    border-radius: 5px;
}
#cuerposcore{
    background: url(../img/FONDOFUTBOL.jpg);
}
#cuerposcore h1{
    color: white;
}
.container{
    background: rgba(255, 255, 255, 0.676);
    height: 100%;
}
.gboot{
    font-size: 50px;
    color: #6D23B6;
}
.visuallyHidden{
    background-color: #ffffff;
    
}
#desplegable{
    background:url(../fondo.png)!important;
}
#desplegable :hover{
    background-color: transparent;
}
#tabladesplegable summary{
    text-align: center; 
}
table{
    border-radius: 1%;
}
#champions{
    color: darkturquoise;
}
#uefa{
    color: rgb(234, 120, 79);
}
#descenso{
    color: red;
}
table td {
    color: white;
}
table th{
    color: white;
}
#po{
    background: url(../img/premier\ inicio.png);
    background-size: cover;
}

#imagenlogo{
    width: 90%;
    display: block;
    margin: auto;
}
.contenedor img{
    width: 100%;
    height: auto;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
}
.centrado{
    position: absolute;
    color: black;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.763);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropdown-menu li{
    color: black;
}
@media  (max-width:576px){
    #salah{
        width: 60%;
    }
}
@media  (max-width:720px){
    #salah{
        width: 80%;
    }
}
@media  (max-width:576px){
    .centrado{
        font-size:25px;
    }
}
.verde{
    color: #e300c5;
}
#navbarSupportedContent{
    font-size: 1.5em;

}
#navbarSupportedContent li{
    padding: 1em;
}
